body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.carousel-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.carousel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
}

#carouselButton {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    font-size: 35px;
    font-family: 'Roboto Slab', serif;
    background: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 100;
    z-index: 10;
}

#carouselButton:hover {
    background-color: rgb(46, 45, 45);
    color: #fbfdfb;
}

#quoteContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    background: rgba(3, 2, 2, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    max-width: 80%;
    z-index: 10;
    display: none;
}

#quoteContainer::before {
    content: open-quote;
    font-size: 3em;
    color: #cecaca;
    padding: 5px;
    position: absolute;
    top: -30px;
    left: 10px;
}

#quoteContainer::after {
    content: close-quote;
    font-size: 3em;
    color: #cecaca;
    position: absolute;
    bottom: -67px;
    right: 10px;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(5px);
    z-index: 20;
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: 500;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 370px;
    max-width: 500px;
    margin: auto;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

#formButton {
    padding: 15px 30px;
    font-size: 16px;
    background: #c14141;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 500;
}

#formButton:hover {
    background-color: #cf0c0c;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    font-weight: 400;
    z-index: 30;
    position: relative;
}
